* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(155deg, rgba(255, 0, 0, 0.356), rgb(39, 39, 135)) no-repeat;
    height: 100vh;
}
.qoute__container {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px black;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    p {
        padding-block: 30px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 600;
    }

    h1 {
        font-size: 30px;
        margin-block: 20px;

        &::after {
            content: "";
            height: 2px;
            width: 50%;
            background: blue;
            position: absolute;
            top: 70px;
            left: 0%;
            transform: translateX(50%);
        }
    }
}

.qoute__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        border-radius: 50px;
        max-width: 180px;
        width: 100%;
        padding: 8px 16px;
        border: none;
        outline: none;
        margin-top: 16px;
        margin-bottom: 16px;
        transition: all 0.4s;
    }
    button:nth-child(1) {
        background-color: orange;
        &:hover {
            background-color: pink;
        }
    }
    button:nth-child(2) {
        background-color: pink;
        &:hover {
            background-color: orange;
        }
    }
}
